[Bb]uild/
[Bb]uild_*/
CMakeCache.txt
CMakeFiles/
CMakefiles/
Makefile
cmake_install.cmake
install_manifest.txt
package/
ffmpeg-download/
ffmpeg-shared/
ffmpeg-8.1.1-full_build-shared/
ffmpeg-8.1.1-msvc-x64-static-mt/
ffmpeg-*/
*.zip
*.tar.gz
*.tar.xz
lib
